* {
  font-family: Avenir, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

header button span.text {
  padding: 0px 10px;
}

nav ul {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 0px 0px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding: 7px;
  flex: 1 1 auto;
  text-align: center;
  position: relative;
}

ul li a {
  text-decoration: none;
  color: black;
}

nav ul li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(166, 6, 6);
}

.wrapper {
  width: 80%;
  margin: 0px auto;
}

.img-title {
  width: 100%;
}

h1 {
  border: 1px solid #000;
  text-align: center;
  padding: 5px;
}

.wrapper .author {
  color: rgb(36, 40, 85);
  font-size: 0.7em;
}

.intitule {
  display: block;
  font-weight: bold;
}

.source-box {
  border: 1px solid #000;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.source-box ul li {
  list-style-type: none;
}

.source-box ul li:before {
  padding: 5px;
  content: '–';
}

.source-link {
  padding: 20px;
  background-color: rgb(224, 224, 221);
  width: 45%;
}

footer {
  width: 100%;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-between;
}

footer img {
  border: 1px solid #000;
  padding: 5px;
  width: 108px;
  height: 29px;
}

footer ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

footer ul li {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
}
